<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        My Blog Book
      </h1><p class="lead">learn how to wite a blog</p>
      <form action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{stripePublishableKey}}"
          data-amount="1000"
          data-name="My Blog Book"
          data-description="Ebook written by Shashika Kahtapitiya"
          data-image="/img/kahtz.png"
          data-locale="auto">
        </script>
        <script>
          // Hide default stripe button
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script>
        <button type="submit" class="btn btn-outline-dark text-white btn-lg">Purchase For $10</button>
      </form>
    </div>
    <div class="col-md-6">
      <img src="/img/book1.png" alt="" class="img-fluid">
    </div>
  </div>
</section>